name: quiz3_bmi
description: A simple BMI Calculator for Quiz 3
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^5.0.0
  flutter_animate: ^4.1.1
  syncfusion_flutter_gauges: ^25.1.39
  share_plus: ^9.0.0
  shared_preferences: ^2.2.3
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/placeholder_avatar.png
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
